<div class="container wellclear">
<h2 class="text-center">Edit you profile</h2>
<p>A password is required to make changes to your account. If you don't remember your password, you can reset it from the login screen.</p>
<div class="col-md-12">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.error_notification %>
      <%= f.full_error :avatar_file_size, class: "alert alert-error" %>
      <%= f.full_error :avatar_content_type, class: "alert alert-error" %>

      <div class="form-inputs">
        <ul class="list-inline">
          <li><%= f.input :name %></li>
          <li><%= f.input :email, required: true %></li>
        </ul>
        <% if @user.avatar.blank? %>
          <span><button class="btn btn-default">No image found</button></span>
        <% else %>
          <span align="center"><%= image_tag @user.avatar.url(:thumb), class: "img-responsive img-thumbnail" %></span>
        <% end %>
        <% if @user.avatar.blank? %>
            <%= f.input :avatar, label: "Upload profile image (Resizes to 350x200)" %>
        <% else %>
            <%= f.input :avatar, label: "Change profile image (Resizes to 350x200)" %>
        <% end %>
        
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <h4>Settings</h4>
        <% if @user.tableview == false %>
          <%= f.input :tableview, label: "Check to use table view" %>
        <% else %>
          <%= f.input :tableview, label: "Uncheck to use grid view" %>
        <% end %>
         
        <% if current_user.patron? %>
          <% if @user.voice == false %>
            <%= f.input :voice, as: :boolean, label: "Check to use voice commands" %>
          <% else %>
            <%= f.input :voice, as: :boolean, label: "Uncheck to disable voice commands" %>
          <% end %>
        <% end %>
        

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :password, autocomplete: "off", required: false, placeholder: "Leave blank if you don't want to change", label: "Change password" %>
        <%= f.input :password_confirmation, label: "Change password confirmation", required: false, placeholder: "If changing your password, please verify" %>    
        <%= f.input :current_password, autocomplete: "off", required: true, placeholder: "Required to edit your profile", label: "Current password" %>

    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-actions text-center">
        <%= f.button :submit, "Update Profile", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
  <div class="clearfix"><hr /></div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <p><%= link_to "Unhappy? Cancel you account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, data: { 
                                                                  confirm: 'Are you sure?',
                                                                  :'confirm-button-text' => "Yes",
                                                                  :'cancel-button-text' => "No",
                                                                  :'confirm-button-color' => "#66CD00",
                                                                  text: 'If you press YES, your account will be deleted!',
                                                                  :'sweet-alert-type' => 'info' } %></p>
  </div>
</div>
