<div class="container wellclear bottomcorners">
<h2 class="text-center">Edit Settings</h2>
<p>A password is required to make changes to your account. If you don't remember your password, you can reset it from the login screen.</p>
<div class="col-md-12">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.error_notification %>
      <%= f.full_error :avatar_file_size, class: "alert alert-error" %>
      <%= f.full_error :avatar_content_type, class: "alert alert-error" %>

      <div class="form-inputs">
        <ul class="list-inline">
          <li><%= f.input :name %></li>
          <li><%= f.input :email, required: true %></li>
        </ul>
        <% if @user.avatar.blank? %>
          <span><button class="btn btn-default">No image found</button></span>
        <% else %>
          <span align="center"><%= image_tag @user.avatar.url(:original), class: "img-responsive img-thumbnail" %></span>
        <% end %>
        <% if @user.avatar.blank? %>
            <%= f.input :avatar, label: "Upload profile image (Resizes to 350x200)" %>
        <% else %>
            <%= f.input :avatar, label: "Change profile image (Resizes to 350x200)" %>
        <% end %>

      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <h5><strong>Additional Preferences</strong></h5>
        <% if @user.tableview == false %>
          <%= f.input :tableview, label: "Check to use table view" %>
        <% else %>
          <%= f.input :tableview, label: "Uncheck to use grid view" %>
        <% end %>
        <% if @user.voice == false %>
          <%= f.input :voice, label: "Check to enable voice commands" %>
        <% else %>
          <%= f.input :voice, label: "Uncheck to disable voice commands" %>
        <% end %>
        <!--
        <h5><strong>Publisher Preferences</strong></h5>
        (Check only the publishers you're interested in)<br />
        <ul class="list-inline">
          <li><%= f.input :pubfourfiveone, label: "451" %></li>
          <li><%= f.input :pubaftershock, label: "Aftershock" %></li>
          <li><%= f.input :pubarchie, label: "Archie" %></li>
          <li><%= f.input :pubaspen, label: "Aspen" %></li>
          <li><%= f.input :pubavatar, label: "Avatar" %></li>
          <li><%= f.input :pubblackmask, label: "Black Mask" %></li>
          <li><%= f.input :pubboom, label: "Boom" %></li>
          <li><%= f.input :pubdarkhorse, label: "Dark Horse" %></li>
          <li><%= f.input :pubdc, label: "DC" %></li>
          <li><%= f.input :pubdynamite, label: "Dynamite" %></li>
          <li><%= f.input :pubidw, label: "IDW" %></li>
          <li><%= f.input :pubimage, label: "Image" %></li>
          <li><%= f.input :pubmarvel, label: "Marvel" %></li>
          <li><%= f.input :pubvaliant, label: "Valiant" %></li>
          <li><%= f.input :pubvertigo, label: "Vertigo" %></li>
          <li><%= f.input :pubzenescope, label: "Zenescope" %></li>
        </ul>
      -->

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :password, autocomplete: "off", required: false, placeholder: "Leave blank if you don't want to change", label: "Change password" %>
        <%= f.input :password_confirmation, label: "Change password confirmation", required: false, placeholder: "If changing your password, please verify" %>
        <%= f.input :current_password, autocomplete: "off", required: true, placeholder: "Required to edit your profile", label: "Current password (Required to make changes)" %>

    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-actions text-center">
        <%= f.button :submit, "Update Your Settings", class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  <% end %>
</div>
  <div class="clearfix"><br /><br /></div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <p class="pull-right"><small><%= link_to "Cancel your account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, data: {
                                                                  confirm: 'Are you sure?',
                                                                  :'confirm-button-text' => "Yes",
                                                                  :'cancel-button-text' => "No",
                                                                  :'confirm-button-color' => "#66CD00",
                                                                  text: 'If you press YES, your account will be deleted!',
                                                                  :'sweet-alert-type' => 'info' } %></small></p>
  </div>
</div>
