<div class="col-md-12 col-sm-12 col-xs-12 white-bg">
	<h2 class="text-center">User Levels</h2>
	<p>Below you will find the various levels users can achieve on the site. Points are awarded for various activities such as adding books to your various collections or wishlists, being a regular site visitor, becoming a patron, adding notes or ratings to books, etc. Most of the level titles come from the structure set up at the Harbinger Foundation by Toyo Harada. You can read a little more about these levels in Harbinger #3.</p>
	<table class="table table-responsive table-hover">
		<thead>
			<tr>
				<td><strong>Level</strong></td>
				<td><strong>Name</strong></td>
				<td class="text-center"><strong>Points Required</strong></td>
				<% if user_signed_in? && current_user.super_admin? %>
					<td class="text-right"><strong>No. of Users</strong></td>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% Level.all.each do |l| %>
				<tr>
					<td><%= l.id %></td>
					<td><strong><%= l.display_name %></strong></td>
					<td class="text-center"><%= l.required_score %></td>
					<% if user_signed_in? && current_user.super_admin? %>
						<td class="text-right"><%= l.users.count %></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
	<h2 class="text-center">Earning Points</h2>
	<p>There are various ways to earn points on the site including the list below. As time goes on, there will be additional ways to earn points as well. Reversing the actions that award points will naturally remove points from your score total. If you have ideas on what actions you'd like to see earn points, don't hesitate to <%= link_to new_contact_path, :title => "Contact" do %>contact us<% end %>.</p>
	<table class="table table-responsive table-hover">
		<thead>
			<tr>
				<td><strong>Action</strong></td>
				<td><strong>Type</strong></td>
				<td class="text-right"><strong>Points Awarded</strong></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><strong>Add a single book to your collection</strong></td>
				<td>Collection Bonus</td>
				<td class="text-right">1 point</td>
			</tr>
			<tr>
				<td><strong>Add a trade paperback to your collection</strong></td>
				<td>Collection Bonus</td>
				<td class="text-right">3 points</td>
			</tr>
			<tr>
				<td><strong>Add a deluxe hardcover to your collection</strong></td>
				<td>Collection Bonus</td>
				<td class="text-right">6 points</td>
			</tr>
			<tr>
				<td><strong>Add a book to your wishlist</strong></td>
				<td>Wishlist Bonus</td>
				<td class="text-right">1 points</td>
			</tr>
			<tr>
				<td><strong>Mark a book for sale</strong></td>
				<td>Sell Bonus</td>
				<td class="text-right">2 points</td>
			</tr>
			<tr>
				<td><strong>Add a note to a book</strong></td>
				<td>Activity Bonus</td>
				<td class="text-right">1 points</td>
			</tr>
			<tr>
				<td><strong>Log in at least once per day</strong></td>
				<td>Activity Bonus</td>
				<td class="text-right">2 points</td>
			</tr>
			<!-- <tr>
				<td><strong>Invite a new user (limit 10)</strong></td>
				<td>Activity Bonus</td>
				<td class="text-right">5 points</td>
			</tr> -->
			<tr>
				<td><strong>Sign up for an account</strong></td>
				<td>Activity Bonus</td>
				<td class="text-right">10 points</td>
			</tr>
			<tr>
				<td><strong>Become a patron</strong></td>
				<td>Activity Bonus</td>
				<td class="text-right">50 points</td>
			</tr>
		</tbody>
</div>