<div class="col-md-12 col-sm-12 col-xs-12 white-bg">
	<h2 class="text-center">Valiant Marketshare (2012-)</h2>
  <p>The following charts are based on estimated numbers provide by Diamond and may not be an exact representation of Valiant marketshare since the 2012 relaunch. The graphs below show both percent share of units in the market as well as percent share of dollars. These numbers are generally closly tied together but not mutually inclusive. To get a sense of how these numbers translate to book sales, check out  the <%= link_to sales_statistics_path do %>Sales Statistics<% end %> page or view the <%= link_to sales_veibytitle_path do %>12 Month Sales Trends<% end %> page. A big thanks to <%= link_to "Christan Anderson", "https://www.valiantdatabase.com/users/chris-anderson/profile" %> for the idea behind this page.</p>
  <h4>Share of Overall Units</h4>
  <%= line_chart [
    ["May 12", "0.52"],
    ["June 12", "0.70"],
    ["July 12", "0.85"],
    ["Aug 12", "0.92"],
    ["Sept 12", "0.98"],
    ["Oct 12", "0.74"],
    ["Nov 12", "0.99"],
    ["Dec 12", "0.93"],
    ["Jan 13", "0.93"],
    ["Feb 13", "0.98"],
    ["March 13", "0.84"],
    ["April 13", "1.11"],
    ["May 13", "1.20"],
    ["June 13", "1.03"],
    ["July 13", "1.05"],
    ["Aug 13", "0.97"],
    ["Sept 13", "0.91"],
    ["Oct 13", "0.86"],
    ["Nov 13", "1.74"],
    ["Dec 13", "1.16"],
    ["Jan 14", "0.95"],
    ["Feb 14", "1.08"],
    ["March 14", "0.95"],
    ["April 14", "1.18"],
    ["May 14", "0.77"],
    ["June 14", "1.27"],
    ["July 14", "0.89"],
    ["Aug 14", "1.07"],
    ["Sept 14", "0.71"],
    ["Oct 14", "0.84"],
    ["Nov 14", "0.73"],
    ["Dec 14", "0.91"],
    ["Jan 15", "0.93"],
    ["Feb 15", "0.86"],
    ["March 15", "0.99"],
    ["April 15", "0.97"],
    ["May 15", "0.92"],
    ["June 15", "0.82"],
    ["July 15", "1.52"],
    ["Aug 15", "1.37"],
    ["Sept 15", "1.58"],
    ["Oct 15", "0.99"],
    ["Nov 15", "0.87"],
    ["Dec 15", "0.80"],
    ["Jan 16", "0.98"],
    ["Feb 16", "0.84"],
    ["March 16", "1.13"],
    ["April 16", "1.03"],
    ["May 16", "1.25"],
    ["June 16", "0.84"],
    ["July 16", "1.03"],
    ["Aug 16", "0.88"],
    ["Sept 16", "0.89"],
    ["Oct 16", "0.69"],
		["Nov 16", "1.15"],
		["Dec 16", "1.24"],
		["Jan 17", "0.81"],
		["Feb 17", "0.61"],
		["Mar 17", "1.37"],
		["Apr 17", "0.87"]
  ], colors: ["red"], discrete: true, xtitle: "Time In Months", ytitle: "% Unit Share" %>
<div class="clearfix"><br /></div>
<h4>Share of Overall Dollars</h4>
<%= line_chart [
  ["May 12", "0.47"],
  ["June 12", "0.62"],
  ["July 12", "0.75"],
  ["Aug 12", "0.78"],
  ["Sept 12", "0.86"],
  ["Oct 12", "0.68"],
  ["Nov 12", "0.93"],
  ["Dec 12", "0.87"],
  ["Jan 13", "0.86"],
  ["Feb 13", "0.94"],
  ["March 13", "0.86"],
  ["April 13", "1.04"],
  ["May 13", "0.81"],
  ["June 13", "1.04"],
  ["July 13", "0.93"],
  ["Aug 13", "0.90"],
  ["Sept 13", "0.87"],
  ["Oct 13", "0.84"],
  ["Nov 13", "1.58"],
  ["Dec 13", "1.11"],
  ["Jan 14", "0.90"],
  ["Feb 14", "1.02"],
  ["March 14", "0.92"],
  ["April 14", "1.04"],
  ["May 14", "0.80"],
  ["June 14", "1.20"],
  ["July 14", "0.80"],
  ["Aug 14", "0.99"],
  ["Sept 14", "0.66"],
  ["Oct 14", "0.71"],
  ["Nov 14", "0.69"],
  ["Dec 14", "0.85"],
  ["Jan 15", "0.85"],
  ["Feb 15", "0.77"],
  ["March 15", "0.85"],
  ["April 15", "0.74"],
  ["May 15", "0.85"],
  ["June 15", "0.72"],
  ["July 15", "1.11"],
  ["Aug 15", "1.07"],
  ["Sept 15", "1.09"],
  ["Oct 15", "0.92"],
  ["Nov 15", "0.73"],
  ["Dec 15", "0.65"],
  ["Jan 16", "0.85"],
  ["Feb 16", "0.84"],
  ["March 16", "0.87"],
  ["April 16", "0.75"],
  ["May 16", "1.09"],
  ["June 16", "0.75"],
  ["July 16", "1.06"],
  ["Aug 16", "0.76"],
  ["Sept 16", "0.85"],
  ["Oct 16", "0.73"],
	["Nov 16", "0.86"],
	["Dec 16", "1.27"],
	["Jan 17", "0.82"],
	["Feb 17", "0.67"],
	["Mar 17", "1.14"],
	["Apr 17", "0.80"]
], colors: ["green"], discrete: true, xtitle: "Time In Months", ytitle: "% Dollar Share" %>
<div class="clearfix"><br /></div>
<h4>Unit Sales Per Month</h4>
<%= line_chart Book.where(:publisher => "Valiant Entertainment").where(:category => "Default").where("printrun > ?", "1").where("rdate > ?", "2012-05-01").group_by_month( :rdate, "sum", "printrun"), xtitle: "Month", ytitle: "Total", format: "%b %Y", colors: ["blue", "white"] %>
<div class="clearfix"><br /></div>
</div>
