<div class="col-md-12 col-sm-12 col-xs-12">
	<% if params[:query].present? %>
		<% if @title.count > 0 %>
			<%= render 'book' %>
		<% else %>
			<div class="wellclear bottomcorners" style="margin-top: -10px !important;">
				<h3 class="text-center">Search ComicArk</h3>
				<p class="text-center">Nothing matched your search term. Please try again!</p>
				<%= form_tag "/search", :method => 'get', :role => "search", class: "form-inline text-center" do %>
			        <div class="form-group">
				        <%= text_field_tag :query, params[:query], autocomplete: "off", :placeholder => "Search the database...", type: "search", class: "form-control" %>
				        <button type="submit" class="btn btn-primary">Search</button>
				    </div>
				    <div class="clearfix"><br /></div>
			    <% end %>
			</div>
		<% end %>
	<% else %>
		<div class="wellclear">
			<h3 class="text-center">Search ComicArk</h3>
			<%= form_tag "/search", :method => 'get', :role => "search", class: "form-inline text-center" do %>
		        <div class="form-group">
			        <%= text_field_tag :query, params[:query], autocomplete: "off", :placeholder => "Search the database...", type: "search", class: "form-control" %>
			        <button type="submit" class="btn btn-primary">Search</button>
			    </div>
			    <div class="clearfix"><br /></div>
		    <% end %>
		</div>
	<% end %>
	<div class="clearfix"><br /></div>
</div>