<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12" style="background: #fff !important;">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h3><%= @poll.topic %></h3>
    <% if @poll.image1? && @poll.image2? && @poll.image3? %>
      <div class="center">
        <ul class="list-inline">
            <li><%= image_tag @poll.image1, class: "img-responsive"  %></li>
            <li><%= image_tag @poll.image2, class: "img-responsive"  %></li>
            <li><%= image_tag @poll.image3, class: "img-responsive"  %></li>
        </ul>
      </div>
    <% elsif @poll.image1? && @poll.image2? %>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <%= image_tag @poll.image1, class: "img-responsive" %>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <%= image_tag @poll.image2, class: "img-responsive" %>
        </div>
      </div>
    <% end %>
    <div class="clearfix"></div>
    <%= render 'voting_form' %>
  </div>
  <div class="clearfix"><br /></div>
</div>
