	<% if params[:query] == "Raul Allen" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/raulallen.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12"><h3>Raul Allen</h3>
			<p>Artist/Inker</p>
			<p>Raul Allen is a Spanish artist known for his unique style. He has done professional work for various magazines, books, and comic book publishers including covers for Unity, X-O Manowar, Ivar, Timewalker, Bloodshot Reborn and more.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "James Asmus" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/jamesasmus-e1423877412197.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12"><h3>James Asmus</h3>
			<p>Writer</p>
			<p>James Asmus is a writer, actor and comedian known for his affiliation with such theaters as "The Annoyance" and the sketch group Hey You Millionaires, and for his work writing comic books such Thief of Thieves and Gambit. He has been involved at Valiant writing Quantum and Woody and its subsequent one-shots and miniseries, as wellclear as cowriting The Delinquents with Fred Van Lente.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "David Baron" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/davidbaron-e1423878089610.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>David Baron</h3>
			<p>Artist/Colorist</p>
			<p>Baron began his career at the age of 15, working for the coloring house InColor. He was subsequently hired by Wildstorm FX. After several years there, he left to pursue a freelance career. His work has primarily appeared in books published by WildStorm and DC Comics. Notably, he was the primary colorist on The Authority during the Mark Millar and Frank Quitely era, spent several years coloring JLA, and has recently colored several issues of DC Comics's weekly series, 52. For Valiant, he has done work on Archer & Armstrong, Bloodshot, and Doctor Mirage and is currently working on Bloodshot Reborn and Imperium.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Doug Braithwaite" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/dougbraithwaite.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Doug Braithwaite</h3>
			<p>Artist</p>
			<p>Doug Braithwaite is a British comic book artist who got his start in 2000 AD and A1. He is best known for his work on Earth X and The Punisher Kills the Marvel Universe for Marvel. He has also done work for both DC and Dark Horse. For Valiant, he has done work on Armor Hunters and Unity, and is currently the artist on Imperium written by Joshua Dysart.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "M.D. Bright" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/mdbright.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>M.D. Bright</h3>
			<p>Artist/Inker</p>
			<p>M.D. Bright is an American comic book and storyboard artist whose full name is Mark D. Bright. He is best known for his work on the Iron Man story "Armor Wars" for Marvel and the Green Lantern: Emerald Dawn miniseries for DC. He co-created Quantum and Woody with Christopher Priest for Valiant and recently illustrated the Q2: The Return of Quantum and Woody miniseries.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "CAFU" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/cafu.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>CAFU</h3>
			<p>Artist</p>
			<p>CAFU (Carlos Alberto Fernandez Urbano) has done extensive work for both Marvel and DC on series such as The Avengers, Black Panther, War of the Supermen, T.H.U.N.D.E.R. Agents and more. He has done interior work for Valiant on titles such as Armor Hunters: Aftermath, Shadowman, Unity and X-O Manowar.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Clayton Crain" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/claytoncrain.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Clayton Crain</h3>
			<p>Artist/Colorist</p>
			<p>Clayton Crain is an American comic book artist who primarily uses digital painting. He is wellclear known for his work with Marvel on Ghost Rider, X-Force, and Carnage and he is currently working for Valiant Comics on the popular comic Rai. Clayton is also known for his work with Todd McFarlane, covers for DC, and his unique sketch cover acrylic paintings.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Roberto De La Torre" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/robertodelatorre.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Roberto De La Torre</h3>
			<p>Artist</p>
			<p>Roberto De La Torre is a Spanish artist who has done extensive work with Marvel on titles such as Age of Apocalypse, Ms. Marvel, Iron Man and Thunderbolts. For Valiant, he has done interior and cover work for Shadowman and most recently did the interior art for The Death Defying Dr. Mirage.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Ming Doyle" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/mingdoyle.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Ming Doyle</h3>
			<p>Writer/Artist</p>
			<p>Ming Doyle is an American comic book artist who has done extensive work for Boom! Studios, Image Comics, Tokyopop and was an illustrator for Valiant on Quantum and Woody. She is currently working on the relaunch of Constantine for DC with Raul Allen.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Jelena Kevic-Djurdjevic" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/jelenakevicdjurdjevic.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Jelena Kevic-Djurdjevic</h3>
			<p>Artist</p>
			<p>Jelena Kevic-Djurdjevic is an accomplished artist and painter, and wife of artist Marko Djurdjevic. She is known mostly for her work as a cover artist and has done work for many publishers on such titles as Vampirella, Web of Spider-Man, Spider Girl and more. She has done incredible cover work for Valiant on titles such as X-O Manowar, Harbinger, and Divinity and helped create some of the early character designs.</p></div>
			<div class="clearfix"></div>
		</div>


	<% elsif params[:query] == "Joshua Dysart" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/joshuadysart.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Joshua Dysart</h3>
			<p>Writer</p>
			<p>A New York Times bestselling author, Dysart began his comics-writing career in 1997, co-creating (with William O’Neil) Violent Messiahs for Image Comics. Since then he has worked on such acclaimed titles as Swamp Thing, Conan, Hellboy B.P.R.D., the graphic novel Greendale (based on the album by Neil Young), and the Eisner Award-nominated Unknown Soldier which won a Glyph Comics Award. Now working exclusively for Valiant Entertainment, he was the writer of HARBINGER, and co-writer of BLOODSHOT AND H.A.R.D. CORPS. He is currently writing Imperium.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Khari Evans" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/kharievans.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Khari Evans</h3>
			<p>Artist</p>
			<p>Since drawing Daughters of the Dragon for Marvel Comics in 2006, Evans has illustrated a variety of series for Marvel and Image Comics, among them The Immortal Iron Fist, Shanna the She-Devil: Survival of the Fittest, Thor: Ages of Thunder, and Carbon Grey (which is also co-wrote). In 2012, Khari joined Valiant Entertainment as artist on HARBINGER.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Tom Fowler" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/tomfowler.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Tom Fowler</h3>
			<p>Artist</p>
			<p>Tom Fowler is a Canadian artist with an extensive list of creative credits ranging from Mad, Green Arrow, Grendel, Legends of the Dark Knight, and HowToons: Reignition. He has also provided art for the card game Doomtown and various other media projects. Fowler was instrumental in the Valiant Entertainment reimagining of Quantum and Woody.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Lee Garbett" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/leegarbett.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Lee Garbett</h3>
			<p>Artist/Inker</h3>
			<p>A concept artist in the video game industry before breaking into comics, Lee Garbett’s first comic book work was in the pages of 2000 AD. He went on to co-create DC Comics/Wildstorm’s The Highwaymen and illustrated acclaimed runs of Batman, Batgirl, Judge Dredd, and The Amazing Spider-Man before joining Valiant Entertainment.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Manuel Garcia" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/manuelgarcia.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Manuel Garcia</h3>
			<p>Artist</p>
			<p>A native of Salamanca, Spain, artist Manuel Garcia started his U.S. career drawing Robin, The Spectre, and The Avengers. He later worked on Vampirella (Harris Comics), several Star Wars-related titles for Dark Horse Comics, and Thunderbolts, Mystique, Iron Man: Noir, and Supreme Power for Marvel Comics before joining Valiant Entertainment to draw BLOODSHOT.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Stefano Gaudiano" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/stefanogaudiano.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Stefano Gaudiano</h3>
			<p>Artist/Colorist</p>
			<p>Born in Italy, Stefano Gaudiano moved to the United States in 1981. His love of American comics led to a life-long career as an artist, beginning with a self-published project in 1983 and continuing through more-recent work on Daredevil, The Amazing Spider-Man, the award-winning Gotham Central, X-O MANOWAR, and BLOODSHOT. He lives in Issaquah, Washington, with his wife Kathy and daughters Milena and Sabina.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Robert Gill" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/robertgill.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Robert Gill</h3>
			<p>Artist</p>
			<p>Robert Gill is an American artist currently residing in Boston. He has been working on independent titles for many years particularly doing work for Arcana and Zenescope, but also working for DC on titles such as Batgirl. He is currently a Valiant-exclusive artist who has worked on Armor Hunters: Harbinger #1-3 and Harbinger: Faith #0.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Butch Guice" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/butchguice.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Butch Guice</h3>
			<p>Artist/Inker</h3>
			<p>Butch Guice is an American artist who has been working in the industry since the 1980s. His list of work is extensive including New Mutants, X-Factor, Teen Titans Spotlight, Crisis on Infinite Earths: The Flash #1, Action Comics and more. Guice was the penciller on the original Eternal Warrior series for Valiant and is currently doing art for a backup series in the Ninjak ongoing.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Trevor Hairsine" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/04/trevorhairsine.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Trevor Hairsine</h3>
			<p>Artist</p>
			<p>In 2013, Trevor Hairsine celebrated twenty years of working as a professional comic-book artist. Among the titles he has worked on are Judge Dredd, Captain America, National Comics: Madame X, and Clas$$war, as wellclear as a variety of projects in Marvel’s “Ultimates” line starring Spider-Man, the X-Men, and the Avengers. He lives in Sheffield, England, with his partner Maria and daughter Molly.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Ian Hannin" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/ianhannin.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Ian Hannin</h3>
			<p>Artist/Colorist</p>
			<p>A professional colorist for almost twenty years, Ian Hannin has worked on some of the best-known characters in comics, among them Batman, Spawn, Superman, and the Avengers. As part of Valiant Entertainment, he has made his mark on such wellclear-regarded titles as HARBINGER and ARCHER & ARMSTRONG.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Bryan Hitch" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/bryanhitch.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Bryan Hitch</h3>
			<p>Artist</p>
			<p>Bryan Hitch is a British artist who began his career at Marvel UK working on titles such as Action Force and Death's Head before gaining notoriety on American titles such as Stormwatch, The Authority, JLA, and The Ultimates. He has also done film and TV work including design work for the 2009 film Star Trek.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Clayton Henry" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/claytonhenry.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Clayton Henry</h3>
			<p>Artist</p>
			<p>A professional comic book artist since 1999, Henry’s first published work was The Nine Rings of Wu-Tang for Image Comics. Since then he has worked on an impressive range of titles, among them Area 52, Exiles, X-Men, The Incredible Hercules, Spider-Girl, and Suicide Squad. Henry currently works for Valiant Entertainment on HARBINGER and ARCHER & ARMSTRONG.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "J.G. Jones" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/jgjones.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>J.G. Jones</h3>
			<p>Artist</p>
			<p>Francis Portela is an American comic book artist best known for his cover work particularly on series such as Y: The Last Man by Brian K. Vaughan and Villians United by Gail Simone as wellclear as the covers for DC's 52. His Valiant work includes covers for Eternal Warrior, and other books but most famously the Armor Hunters Special for Free Comic Book Day 2014.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Justin Jordan" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/justinjordan.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Justin Jordan</h3>
			<p>Writer</p>
			<p>Justin Jordan broke into comics with his wellclear-received The Strange Talent of Luther Strode for Image Comics in 2011, launching SHADOWMAN for Valiant Entertainment soon after and going on to work on a variety of DC Comics titles, including Green Lantern: New Guardians and Team 7. In addition to the follow-up Luther Strode project The legend of Luther Strode, Jordan’s other recent series include the Image Comics titles Spread and Dead Body Road.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Kano" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/kano.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Kano</h3>
			<p>Artist</p>
			<p>Kano is the pseudonym of a Spanish comic book artist, whose real name is Jose Ángel Cano López. He has done extensive work with both Marvel and DC, and served as artist on Quantum and Woody #9 and #10 and most recently The Delinquents #1-4 for Valiant.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Matt Kindt" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/mattkindt.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Matt Kindt</h3>
			<p>Writer/Artist</p>
			<p>American comic book writer and artist, known for his work with Top Shelf, Dark Horse and DC/Vertigo. He has been publishing his own creator owned project, Mind MGMT, since May 2012 and has been an integral part of the Valiant universe since writing Bloodshot #0. He is currently writing Divinity, Ninjak, Rai, Unity and The Valiant for Valiant on top of plenty of other projects.</p></div>
			<div class="clearfix"></div>
		</div> 

	<% elsif params[:query] == "Barry Kitson" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/barrykitson.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Barry Kitson</h3>
			<p>Artist</p>
			<p>An acclaimed artist whose first professional work was Spider-Man for Marvel UK, Kitson has worked on many titles since, among them Future Shocks, Judge Dredd, and Judge Anderson for 2000 AD; Batgirl, Adventures of Superman, JLA: Year One, Batman: Legends of the Dark Knight, Legion of Super-Heroes and Empire for DC Comics; Wolverine, Secret Invasion: Fantastic Four and The Amazing Spider-Man for Marvel Comics; and a recent run of HARBINGER for Valiant Entertainment.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Lewis LaRosa" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/lewislarosa.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Lewis LaRosa</h3>
			<p>Artist</p>
			<p>Lewis LaRosa began his work in comics with Marvel’s Citizen V mini-series in 2001. In 2004 he launched The Punisher MAX with Garth Ennis and established a look and style that was continued throughout the rest of book’s run, including The Punisher: War Zone movie. He co-created Bad Planet with Tim Bradstreet, Steve Niles and Thomas Jane in 2005. In 2011, Valiant Editor-in-Chief Warren Simons reached out to LaRosa to provide character designs, covers, interior pages, and layouts.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Jeff Lemire" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/jefflemire.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Jeff Lemire</h3>
			<p>Writer/Artist</p>
			<p>Jeff Lemire is a Canadian comics artist and writer. He is the author of titles including the Essex County Trilogy, Sweet Tooth, The Nobody, and Animal Man. Lemire is known for his moody, humanistic stories and sketchy, cinematic, black-and-white art. He is the co-writer of The Valiant with Matt Kindt, and is writing Bloodshort Reborn for Valiant.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Steve Lieber" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/stevelieber.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Steve Lieber</h3>
			<p>Artist</p>
			<p>Steve Lieber is an American comic book illustrator known for his work on books such as Detective Comics and Hawkman, and the critically acclaimed miniseries Whiteout, which was adapted into a 2009 feature film starring Kate Beckinsale. His other works include the Eisner Award-winning sequel Whiteout: Melt, and the thrillers Shooters and Underground. With writer Nat Gertler, he co-authored The Complete Idiot's Guide to Creating a Graphic Novel.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Emanuela Lupacchino" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/emanuelaluppacchino.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Emanuela Luppacchino</h3>
			<p>Artist</p>
			<p>Before she began working on American comics, Lupacchino worked on the Italian series L’Insonne and as a character designer for role-playing game manuals. Her first American assignments – 2009’s Angel: Only Human and Star Trek: Deep Space Nine – Fool’s Gold – were followed by titles including X-Factor, JLA 80-Page Giant, Catwoman, World’s Finest, the graphic novel based on the TV series Castle, and, most recently, Supergirl. Some of her greatest acclaim has come for her work on Valiant Entertainment’s BLOODSHOT AND THE H.A.R.D. CORPS and ARCHER & ARMSTRONG.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Clay Mann" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/claymann.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Clay Mann</h3>
			<p>Artist</p>
			<p>Clay Mann is a comic book artist who works for Marvel and DC Comics. He is best known for his work on X-Men titles such as Gambit, X-Necrosha, Magneto: Not A Hero, Ultimate X-Men and more. He is currently a Valiant exclusive artist and is pencilling the Ninjak ongoing title, written by Matt Kindt.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Laura Martin" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/lauramartin.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Laura Martin</h3>
			<p>Colorist</p>
			<p>Laura Martin has been working on comics professionally since joining Jim Lee's WildStorm Studios in 1995 where she worked on books such as Divine Right and StormWatch, moving to DC after their acquisition of WildStorm and working on Planetary and Authority. Since then she has worked for the now-defunct Crossgen, Marvel, and Valiant, having won multiple awards in the process.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Peter Milligan" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/petermilligan.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Peter Milligan</h3>
			<p>Writer</p>
			<p>Peter Milligan is a British writer known for his work in comic books, film, and television. Milligan began writing short stories for 2000 AD in the 1980s and has since done work on titles such as Shade, The Changing Man, Animal Man, Detective Comics, Elektra, X-Force, Hellblazer and more. Most recently, he has written various Valiant miniseries including Shadowman: End Times, Eternal Warrior: Days of Steel and Punk Mambo.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Cary Nord" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/carynord.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Cary Nord</h3>
			<p>Artist</p>
			<p>Over the past two decades, Cary Nord’s career has included work on Daredevil and Action Comics, as wellclear as an award-winning run on Conan. The Eisner Award winner became Valiant Entertainment’s first exclusive creator as artist on X-O MANOWAR. He lives in Canada.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Allen Passalaqua" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/allenpassalaqua.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Allen Passalaqua</h3>
			<p>Artist/Colorist</p>
			<p>Allen Passalaqua is a professional comic book colorist as wellclear as digital artist, photographer, watercolorist and commercial artist. Coloring comic books for nearly 10 years including the Eisner Award winning BattlePug.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Pere Perez" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/pereperez.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Pere Perez</h3>
			<p>Artist</p>
			<p>A teacher at (and graduate of) Spain’s Joso School for Comic-Book Artists, Pérez was the creator of the award-winning Guerreros Urbanos (among other titles) before illustrating American titles Savage Tales, Army of Darkness, and issues of Superman, Batgirl, and Batwoman, among others. Now an exclusive artist at Valiant Entertainment, he worked on HARBINGER and HARBINGER WARS and is currently doing what he considers the best work of his career as the regular artist on ARCHER & ARMSTRONG.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Francis Portela" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/francisportela.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Francis Portela</h3>
			<p>Artist/Inker</p>
			<p>Francis Portela is an American comic book artist who started working on titles such as G.I. Joe, and Batman Gotham Knight. He later moved to Marvel where he has worked on Captain Universe: X-23, Heroes for Hire, and Wolverine: First Class. He has done cover work for Valiant's Unity title and will be pencilling the second arc of Ivar, Timewalker.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Christopher Priest" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/christopherpriest.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Christopher Priest</h3>
			<p>Writer</p>
			<p>Born James Christopher Owsley, Christopher Priest is a comic book writer who made his professional debut in 1982 for Marvel Comics. He has worked on such titles as Power Man and Iron Fist, Conan the Barbarian, The Ray, Steel, Deadpool and Black Panther. He was instrumental in launching Milestone Media and created Quantum and Woody for Valiant.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Brian Reber" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/brianreber.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Brian Reber</h3>
			<p>Artist/Colorist</p>
			<p>Brian Reber has been a professional colorist since 2001. After his debut on Radix from Image Comics, he worked on Runaways and The Mighty Thor for Marvel Comics, and would go on to work on more than eighty different series for Marvel, DC Comics, and Top Cow Productions before becoming an exclusive artist for Valiant Entertainment in 2013. His current work can be found in the Valiant titles X-O MANOWAR, HARBINGER, and UNITY.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Paolo Rivera" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/paolorivera.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Paolo Rivera</h3>
			<p>Artist/Colorist</p>
			<p>Paolo Rivera is an Eisner Award-winning American comic book artist. He is known for illustrating the Mythos series of one-shots and several issues of Spider-Man as wellclear as his recent collaboration with writer Mark Waid, his father/inker Joe Rivera and colorist Javier Rodríguez on Daredevil. Although gaining acclaim and recognition through his early fully painted works, he has since moved on to more traditional comics process of pencilling, inking, and coloring. He most recently did the interior art for The Valiant.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Riley Rossmo" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/rileyrossmo.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Riley Rossmo</h3>
			<p>Artist/Colorist</p>
			<p>Riley Rossmo is a Canadian comic book artist and illustrator known for his work for Image Comics and Marvel and is best known for his work on Cowboy Ninja Viking and Proof. He has done extensive cover work for Valiant on titles such as Harbinger, Rai, Shadowman, and Unity.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Rafa Sandoval" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/rafasandoval.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Rafa Sandoval</h3>
			<p>Artist/Colorist</p>
			<p>Rafa Sandoval is a Spanish comic book artist who has done work for DC on Catwoman and Marvel on X-Men: Legacy and Avengers: The Initiative. His first work for Valiant was on Harbinger: Omegas. He recently worked interiors on X-O Manowar #33 and he has upcoming unannounced work.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Stephen Segovia" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/stephensegovia.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Stephen Segovia</h3>
			<p>Artist</p>
			<p>Stephen Segovia is a Filipino artist best known for his work on Dark Wolverine, X-Treme X-Men, and Red Hood and the Outlaws. He most recently did interior work for Valiant pencilling Unity #8-10 as wellclear as covers for X-O Manowar #28 and Rai #1.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Mico Suayan" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/micosuayan.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Mico Suayan</h3>
			<p>Artist</p>
			<p>After taking the comics industry by storm in 2007 with his work on Moon Knight, Mico elevated his art even further with his breathtakingly detailed pencil work on Dead of Night featuring Werewolf by Night and Immortal Weapons. Mico has since followed that up with some jaw-dropping work for Thor and Rage of Thor. He has done cover work for Harbinger, Rai, and Unity as wellclear as interior work in books like Harbinger: Bleeding Monk #0. He is currently the artist on Bloodshot Reborn.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Duane Swierczynski" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/duaneswierczynski.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Duane Swierczynski</h3>
			<p>Writer</p>
			<p>The author of several crime thrillers, including the Shamus Award-winning Fun and Games and the Edgar-nominated and Anthony Award-winning Expiration Date, Swierczynski has written many books currently in development for film and television. His recent comic-book credits include Judge Dredd, X, Birds of Prey, Godzilla, and Cable. Swierczynski has also collaborated with CSI: Crime Scene Investigation creator Anthony E. Zuiker on a series of bestselling “digi-novels.”</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Fred Van Lente" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/fredvanlente.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Fred Van Lente</h3>
			<p>Writer</p>
			<p>The New York Times bestselling author of Marvel Zombies, Van Lente is the writer (with Grek Pak) of The Incredible Hercules and (with Dean R. Koontz) Odd is on our side, and his Action Philosophers won an award from the American Library Association. In addition to ARCHER & ARMSTRONG, Van Lente’s other comics work includes Taskmaster, The Amazing Spider-Man, and G.I. Joe, as wellclear as (with co-writer Andrew Foley) the original graphic novel Cowboy & Aliens, which was the basis for the 2011 motion picture.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Jen Van Meter" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/jenvanmeter.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Jen Van Meter</h3>
			<p>Writer</p>
			<p>Jen Van Meter is an American comic book writer best known for her Oni Press series Hopeless Savages as wellclear as for series at Marvel and DC Comics including Black Lighting: Year One, Black Cat, and a back-up series in JSA All-Stars. For Valiant, she has written The Death Defying Dr. Mirage.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Robert Venditti" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/robertvenditti.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Robert Venditti</h3>
			<p>Writer</p>
			<p>The New York Times best-selling author of The Homeland Directive and the sci-fi graphic novel series The Surrogates – the first installment of which was adapted into a 2009 feature film starring Bruce Willis and Ving Rhames – Robert Venditti made his ongoing comic-book series debut with X-O MANOWAR. He lives in Atlanta.</p></div>
			<div class="clearfix"></div>
		</div>

	<% elsif params[:query] == "Patrick Zircher" %>
		<div class="wellclear">
			<div class="col-md-3 col-sm-5 col-xs-12"><%= image_tag "http://valiantcentral.com/wp-content/uploads/2015/02/patrickzircher.jpg", class: "img-responsive img-shadow img-bio" %></div>
			<div class="col-md-9 col-sm-7 col-xs-12">
			<h3>Patrick Zircher</h3>
			<p>Writer/Artist</p>
			<p>After beginning his career as an independent comics artist in the mid-1980s, Patrick Zircher quickly moved on to superhero titles for DC and Marvel Comics before helping to launch SHADOWMAN as artist and co-writer (with Justin Jordan). At Marvel he worked on titles including The New Warriors, Iron Man, Thunderbolts, Black Panther, Cable & Deadpool, and Captain America. Best-known among his DC Comics titles as Birds of Prey, Nightwing, Detective Comics, Suicide Squad, and his most recent work, Futures End.</p></div>
			<div class="clearfix"></div>
		</div>

	<% end %>