<div id="books">
 	<div class="clearfix"></div>
	<% @book.each do |title| %>
		 	<div class="col-md-2 col-sm-4 col-xs-6 book-image">
		 		<% if title.iskey? %>
		 			<div class="ribbon"><span><i class="fa fa-key"></i> KEY</span></div>
		 		<% end %>
		 		<div class="site-actions">
					<ul class="list-unstyled">
						<% if user_signed_in? %>
					        <li id="<%= title.id %>_owns" class="magic">
					        	<% unless title.rdate.future? %>
					        		<% if current_user.patron? %>
							        	<% if user_signed_in? && current_user.owns?(title) %>
											<%= link_to book_own_path(title), method: :delete, remote: true, class: "btn btn-danger btn-circle", title: "Remove from collection", data: {disable_with: "<i class='fa fa-minus'></i>"} do %><i class="fa fa-heart"></i><% end %>
										<% else %>
											<%= link_to book_own_path(title), method: :post, remote: true, class: "btn btn-default btn-circle", title: "Add to collection", data: {disable_with: "<i class='fa fa-plus'></i>"} do %><i class="fa fa-heart"></i> <% end %>
										<% end %>
									<% elsif current_user.illuminati? %>
										<% if user_signed_in? && current_user.owns?(title) %>
											<%= link_to book_own_path(title), method: :delete, remote: true, class: "btn btn-danger btn-circle", title: "Remove from collection", data: {disable_with: "<i class='fa fa-minus'></i>"} do %><i class="fa fa-heart"></i><% end %>
										<% else %>
											<%= link_to book_own_path(title), method: :post, remote: true, class: "btn btn-default btn-circle", title: "Add to collection", data: {disable_with: "<i class='fa fa-plus'></i>"} do %><i class="fa fa-heart"></i> <% end %>
										<% end %>
									<% else %>
										<% if current_user.owns_count < 1000 %>
											<% if user_signed_in? && current_user.owns?(title) %>
												<%= link_to book_own_path(title), method: :delete, remote: true, class: "btn btn-danger btn-circle", title: "Remove from collection", data: {disable_with: "<i class='fa fa-minus'></i>"} do %><i class="fa fa-heart"></i><% end %>
											<% else %>
												<%= link_to book_own_path(title), method: :post, remote: true, class: "btn btn-default btn-circle", title: "Add to collection", data: {disable_with: "<i class='fa fa-plus'></i>"} do %><i class="fa fa-heart"></i> <% end %>
											<% end %>
										<% else %>
											<li id="<%= @book.id %>_owns">
												<span class="fa fa-heart"></span>
											</li>
										<% end %>
									<% end %>
								<% end %>
					        </li>
					        <li class="magic"></li>
					        <li id="<%= title.id %>_wishes" class="magic">
					        	<% if user_signed_in? && current_user.wishes?(title) %>
									<%= link_to book_wish_path(title), method: :delete, remote: true, class: "btn btn-danger btn-circle", title: "Remove from wishlist", data: {disable_with: "<span class='fa fa-minus'></span>"} do %><i class="fa fa-star"></i><% end %>
								<% else %>
									<%= link_to book_wish_path(title), method: :post, remote: true, class: "btn btn-default btn-circle", title: "Add to wishlist", data: {disable_with: "<i class='fa fa-plus'></i>"} do %><i class="fa fa-star"></i> <% end %>
								<% end %>
					        </li>
					        <% if user_signed_in? && current_user.owns?(title) && current_user.patron? %>
					        	<li class="magic"></li>
						        <li id="<%= title.id %>_sales" class="magic">
						        	<% if user_signed_in? && current_user.sales?(title) %>
										<%= link_to book_sale_path(title), method: :delete, remote: true, class: "btn btn-warning btn-circle", title: "Remove from sales list", data: {disable_with: "<span class='fa fa-minus'></span>"} do %><i class="fa fa-dollar"></i><% end %>
									<% else %>
										<%= link_to book_sale_path(title), method: :post, remote: true, class: "btn btn-default btn-circle", title: "Mark for sale", data: {disable_with: "<i class='fa fa-plus'></i>"} do %><i class="fa fa-dollar"></i> <% end %>
									<% end %>
					        	</li>
					        <% end %>

						<% end %>
					</ul>
		 		</div>
		 		<% if title.category == "Paperback" %>
		 			<%= link_to title, :title => title.title + " Vol. " + title.issue.to_s + " TPB" do %>
		 				<%= image_tag title.image.url(:medium), class: "img-responsive img-shadow", :alt => title.title + " Vol. " + title.issue.to_s %>
		 			<% end %>
		 		<% elsif title.category == "Hardcover" %>
		 			<%= link_to title, :title => title.title + " Vol. " + title.issue.to_s + " Deluxe HC" do %>
		 				<%= image_tag title.image.url(:medium), class: "img-responsive img-shadow", :alt => title.title + " Vol. " + title.issue.to_s %>
		 			<% end %>
		 		<% else %>
		 			<%= link_to title, :title => title.title + " #" + title.issue.to_s do %>
		 				<%= image_tag title.image.url(:medium), class: "img-responsive img-shadow", :alt => title.title + title.issue.to_s %>
		 			<% end %>
		 		<% end %>
        <% if title.category == "Default" %>
          <% if title.printing = "1" %>
            <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">#<%= title.issue.to_s %>A<span>
          <% else %>
            <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">#<%= title.issue.to_s %> (<%= (title.printing.to_i).ordinalize %> printing)</span>
          <% end %>
        <% elsif title.category == "Paperback" %>
          <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">Vol. <%= title.issue.to_s %> TPB</span>
        <% elsif title.category == "Hardcover" %>
          <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">Deluxe Vol. <%= title.issue.to_s %></span>
        <% elsif title.category == "Variant" %>
          <% if title.note.include? ("1:10") %>
            <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">#<%= title.issue.to_s %> (1:10)</span>
          <% elsif title.note.include? ("1:20") %>
            <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">#<%= title.issue.to_s %> (1:20)</span>
          <% elsif title.note.include? ("1:25") %>
            <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">#<%= title.issue.to_s %> (1:25)</span>
          <% elsif title.note.include? ("1:40") %>
            <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">#<%= title.issue.to_s %> (1:40)</span>
          <% elsif title.note.include? ("1:50") %>
            <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">#<%= title.issue.to_s %> (1:50)</span>
          <% elsif title.note.include? ("1:60") %>
            <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">#<%= title.issue.to_s %> (1:60)</span>
          <% elsif title.note.include? ("1:75") %>
            <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">#<%= title.issue.to_s %> (1:75)</span>
          <% elsif title.note.include? ("1:100") %>
            <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">#<%= title.issue.to_s %> (1:100)</span>
          <% elsif title.note.include? ("1:125") %>
            <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">#<%= title.issue.to_s %> (1:125)</span>
          <% elsif title.note.include? ("1:150") %>
            <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">#<%= title.issue.to_s %> (1:150)</span>
          <% elsif title.note.include? ("B variant cover") %>
            <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">#<%= title.issue.to_s %>B</span>
          <% elsif title.note.include? ("C variant cover") %>
            <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">#<%= title.issue.to_s %>C</span>
          <% elsif title.note.include? ("D variant cover") %>
            <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">#<%= title.issue.to_s %>D</span>
          <% else %>
            <span class="btn btn-primary col-md-12 col-sm-12 col-xs-12">#<%= title.issue.to_s %> (Variant)</span>
          <% end %>
        <% end %>
		 	</div>
 	<% end %>
</div>

<div class="clearfix"></div>
<div class="text-center" id="append_and_paginate"><%= paginate @book %></div>
<div class="clearfix"></div>
