<% if params[:query].present? %>
  <% @search_count = Book.search(params[:query]).count %>
  <% @title = Book.search(params[:query], page: params[:page], per_page: 20) %>
  <%= render "pages/search" %>
  <%= render "pages/book" %>
<% else %>
<div class="content transitions-enabled container-fluid">
  <h3><span class="col-md-6 col-sm-6 white">Books for sale</span>
      <span class="pull-right">
        <%= link_to root_url + "users/" + current_user.id.to_s + "/forsale.csv", :class => "btn btn-success btn-sm" do %>
            <span class="fa fa-download"></span> Export <span class="gone">Selling</span>
        <% end %>
        <%= link_to root_url + "users/" + current_user.id.to_s + "/forsale", :class => "btn btn-default btn-sm" do %>
            <span class="fa fa-list"></span> <span class="gone">Grid View</span>
        <% end %>
      </span>
    </h3>
    <div class="clearfix"></div>
    <% if current_user.sales.count == 0 %>
    <p class="white">It looks like you are not currently selling any books yet. Browse the <%= link_to "list of books", all_books_path %> or select a title from the list above to sell some!.</p>
    <% else %> 
    <div class="clearfix"></div>
    <p class="white">You have <span class="badge"><%= current_user.sales.count %></span> <% if current_user.sales.count == 1 %>book<% else %>books<% end %> in sell list.</p>
    
<div id="books" class="wellclear">
  <table class="table table-condensed table-responsive">
    <tr>
      <td class="text-center"><strong>Image</strong></td>
      <td><strong>Title</strong></td>
      <td class="text-center"><strong>Issue</strong></td>
      <td><strong>Release date</strong></td>
      <td><strong>Writer</strong></td>
      <td><strong>Artist</strong></td>
      <td><strong>Cover</strong></td>
      <td><strong>Note</strong></td>
      <td class="text-center"><strong>Avg. Rating</strong></td>
      <td><strong></strong></td>
    </tr>
    <% @book.each do |title| %>
    <tr>
      <td class="text-center"><%= link_to title.image.url(:original), :title => "Click for larger image", data: { toggle: "modal", target: "##{title.id}_myModal" } do %><%= image_tag title.image.url(:thumb), :alt => title.title + " cover by " + title.cover, :width => "24px", :height => "36px", class: "img-responsive" %>

           <!-- Modal -->
    <div class="modal fade" id="<%= title.id %>_myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times; Close</span></button>
            <h4 class="modal-title" id="myModalLabel"><%= title.title + " #" + title.issue.to_s %></h4>
          </div>
          <div class="modal-body">
            <div clas="text-center"><%= image_tag title.image.url(:original), :alt => title.title + " cover by " + title.cover, class: "img-responsive text-center center" %></div>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div> -->
        </div>
      </div>
    </div>
    <!-- End Modal -->
        <% end %></td>
      <td>
        <% if title.note.include?("Trade paperback") %>
            <%= link_to title do %><%= title.title + " Vol. " + title.issue.to_s + " TPB" %><% end %>
        <% elsif title.note.include?("hardcover") %>
            <%= link_to title do %><%= title.title + " Vol. " + title.issue.to_s + " Deluxe HC" %><% end %>
        <% else %>
            <%= link_to title do %><%= title.title %><% end %>
        <% end %>
      </td>
      <td class="text-center"><%= link_to title, :title => "View " + title.title + " #" + title.issue.to_s do %><%= title.issue %><% end %></td>
      <td><%= title.rdate.strftime("%B %d, %Y") %></td>
      <td><%= link_to search_path + "/?utf8=✓&query=" + title.writer do %><%= title.writer %><% end %></td>
      <td><%= link_to search_path + "/?utf8=✓&query=" + title.artist do %><%= title.artist %><% end %></td>
      <td><%= link_to search_path + "/?utf8=✓&query=" + title.cover do %><%= title.cover %><% end %></td>
      <td><%= title.note.first(50) %></td>
      <td class="text-center"><% if title.rates('book').count > 0 %>
            <span class="label label-warning"><%= title.average("book").avg %></span>
          <% else %>
            Not yet rated
          <% end %></td>
      <td><ul class="list-inline text-right">
      <% unless title.link.blank? %>
        <li><%= link_to title.link, data: { toggle: "tooltip" }, :title => "Click to purchase this trade", class: "btn btn-default btn-sm" do %><span class="fa fa-shopping-cart"></span><% end %></li>
      <% end %>
      <li data-book-id='<%= title.id %>_wish'>
                <%= link_to book_wish_path(title), method: :delete, remote: true, class: "btn btn-default btn-danger btn-sm", title: "Remove from wishlist", data: {disable_with: "<span class='glyphicon glyphicon-minus'></span>"} do %><span class="fa fa-star-o"></span><% end %></li>
      <li data-book-id='<%= title.id %>_own'>
                <%= link_to book_own_path(title), method: :post, remote: true, class: "btn btn-default btn-sm", title: "Add to collection", data: {disable_with: "<span class='glyphicon glyphicon-plus'></span>"} do %><span class="fa fa-heart"></span><% end %></li></ul>
      </td>
    </tr>

    <% end %>
  </table>
</div>

<div class="clearfix"></div>
    <% end %>
<div class="clearfix"></div>
<div class="text-center"><%= paginate @book %></div>
<div class="clearfix"></div>
</div>
<% end %>