<div class="content transitions-enabled container-fluid wellclear">
  <h3 class="text-center">
      <% if @user == current_user %>
        <% if params[:query].present? %>
          Sell List Results <span class="label label-default label-as-badge"><%= current_user.forsale_books.where(:title => params[:query]).count %></span>
        <% else %>
          <% unless params[:publisher].present? %>
          <span class="btn btn-success btn-xs">
            <%= link_to root_url + "users/" + current_user.id.to_s + "/collection.csv", :title => "Export collection" do %>
                <span class="white fa fa-download"></span>
            <% end %>    
          </span>
          <% end %>

          My Books For Sale <% if user_signed_in? && current_user.patron? %><small>$<%= '%.2f' % ((current_user.forsale_books.sum :pricenm) / 100.00) %></small><% end %> <% if user_signed_in? && current_user.illuminati? %><small>$<%= '%.2f' % ((current_user.forsale_books.sum :pricenm) / 100.00) %></small><% end %>
          <br />
        <% end %>
      <% else %>
        <%= @user.name %>'s Sell List <span class="label label-default label-as-badge"><%= @user.forsale_books.count %></span>
        <br />
      <% end %>
    </h3>
    <div class="clearfix"></div>
    
    <%= render "booksell" %>
  
  <div class="clearfix"></div>
</div>