<% if current_user.admin? %>
	<div class="container show-banner">
	<div class="col-md-12">
		<br />
		<h2><span class="white">Pending Submissions</span> <span class="pull-right label label-default"><%= @drafts.count %></h2>
		<ul class="list-unstyled">
			<% if @drafts.count < 1 %>
				<li>All books have been published</li>
			<% else %>
				<% @drafts.each do |d| %>
					<div class="well col-md-12 col-sm-12 col-xs-12">
					<div class="col-md-10 col-sm-8 col-xs-12">
						<h4><%= link_to d, :title => d.title + "#" + d.issue.to_s do %>
								<%= d.title %> #<%= d.issue %> (<%= d.category %>)
							<% end %>
						</h4>
						<p>
							Last updated on <%= d.updated_at.strftime("%B %d, %Y") %> at <%= d.created_at.strftime("%I:%M%p") %>
						</p>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-12">
							<%= link_to edit_book_path(d.id), class: "btn btn-primary col-md-12 col-sm-12 col-xs-12 pull-right"  do %>
								<i class="fa fa-pencil"> Edit Book</i>
							<% end %>
					</div>
					<div class="clearfix"></div>
				</div>
				<% end %>
			<% end %>
		</ul>
	</div>
	</div>
<% else %>
  <div class="container show-banner">
    <%= image_tag "https://s3.amazonaws.com/wethenerdy/images/nope.jpg", alt: "You're not supposed to be here", class: "col-md-10 col-md-offset-1", id: "nope" %>
  </div>
<% end %>