
	<div class="wellclear">
		<h3 class="text-center"><%= @pgtitle %></h3>
		<p><strong>Always remember these numbers are not exact representations of sales</strong>. We use sales data from Diamond Comic Distributors to generate these charts but actual numbers may differ slightly based on returnability, etc. These numbers are not actual sales numbers for each book, but rather level of sales at the distribution level. These numbers take into account physical book sales only. These numbers take into account physical book sales only as digital numbers are unavailable.</p>
		<p class="text-center"><strong>** You can select a month from the dropdown menu to the right to see available sales figures **</strong></p>
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<td><strong>Image</strong></td>
						<td><strong>Title</strong></td>
						<td><strong>Release Date</strong></td>
						<td><strong>Price</strong></td>
						<td><strong>Publisher</strong></td>
						<td class="pull-right"><strong>Estimated Sales</strong></td>
					</tr>
				</thead>
				<tbody>
					<% @booksales.each do |t| %>
						<tr>
							<td><%= link_to t, :title => t.title.to_s + " #" + t.issue.to_s do %><%= image_tag t.image.url(:thumb), height: "35px" %><% end %></td>
							<td><%= link_to t, :title => t.title.to_s + " #" + t.issue.to_s do %><%= t.title.to_s + " #" + t.issue.to_s %><% end %></td>
							<td><%= t.rdate.strftime("%B %d, %Y") %></td>
							<td>$<%= t.price_in_dollars.to_s %></td>
							<td><%= t.publisher.to_s %></td>
							<td class="pull-right"><%= t.printrun.to_s %> copies</td>
						</tr>
					<% end %>
				</tbody>
			</table>
	</div>
