<% if params[:query].present? %>
  <% @search_count = Book.search(params[:query]).count %>
  <% @title = Book.search(params[:query], page: params[:page], per_page: 20) %>
  <%= render "pages/search" %>
  <%= render "pages/book" %>
<% else %>
<div class="content transitions-enabled container-fluid">
  <h3><span class="col-md-6 col-sm-6 white">My Collection</span>
      <span class="pull-right">
        <%= link_to root_url + "users/" + current_user.id.to_s + "/collection.csv", :class => "btn btn-success btn-sm" do %>
            <span class="fa fa-download"></span> Export <span class="gone">My Collection</span>
        <% end %>
        <%= link_to root_url + "users/" + current_user.id.to_s + "/collection", :class => "btn btn-default btn-sm" do %>
            <span class="fa fa-list"></span> <span class="gone">Grid View</span>
        <% end %>
      </span>
    </h3>
    <div class="clearfix"></div>
    <% if current_user.owns.count == 0 %>
    <p class="white">It looks like you haven't added anything to your collection yet. Browse the <%= link_to "list of books", all_books_path %> or select a title from the list above to add some!.</p>
    <% else %> 
    <div class="clearfix"></div>
    <p class="white">You have <span class="badge"><%= current_user.owns.count %></span> <% if current_user.owns.count == 1 %>book<% else %>books<% end %> in your collection.</p>
    
<div id="books" class="wellclear">
  <div>
    <table class="table table-condensed">
      <thead>
        <tr>
          <td class="text-center"><strong>Image</strong></td>
          <td><strong>Title</strong></td>
          <td><strong>Issue</strong></td>
          <td><strong>Release date</strong></td>
          <td><strong>Writer</strong></td>
          <td><strong>Artist</strong></td>
          <td><strong>Cover</strong></td>
          <td><strong>Note</strong></td>
          <td><strong>User Rating</strong></td>
          <td><strong></strong></td>
        </tr>
      </thead>
      <tbody>
        <% @book.each do |title| %>
          <tr>
            <td class="text-center"><%= link_to title.image.url(:original), :title => "Click for larger image", data: { toggle: "modal", toggle: "tooltip", target: "##{title.id}_myModal" } do %><%= image_tag title.image.url(:thumb), :alt => title.title + " cover by " + title.cover, :width => "24px", :height => "36px", class: "img-responsive" %>

               <!-- Modal -->
                <div class="modal fade" id="<%= title.id %>_myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times; Close</span></button>
                        <h4 class="modal-title" id="myModalLabel"><%= title.title + " #" + title.issue.to_s %></h4>
                      </div>
                      <div class="modal-body">
                        <div clas="text-center"><%= image_tag title.image.url(:original), :alt => title.title + " cover by " + title.cover, class: "img-responsive text-center center" %></div>
                      </div>
                      <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div> -->
                    </div>
                  </div>
                </div>
                <!-- End Modal -->
            <% end %></td>
            <td> 
              <% if title.note.include?("Trade paperback") %>
                  <%= link_to title, data: { toggle: "tooltip" }, :title => "View title" do %><%= title.title + " Vol. " + title.issue.to_s + " TPB" %><% end %>
              <% elsif title.note.include?("hardcover") %>
                  <%= link_to title, data: { toggle: "tooltip" }, :title => "View title" do %><%= title.title + " Vol. " + title.issue.to_s + " Deluxe HC" %><% end %>
              <% else %>
                  <%= link_to title, data: { toggle: "tooltip" }, :title => "View title" do %><%= title.title %><% end %>
              <% end %>
            </td>
            <td class="text-center"><%= link_to title, data: { toggle: "tooltip" }, :title => "View " + title.title + " #" + title.issue.to_s do %><%= title.issue %><% end %></td>
            <td><%= title.rdate.strftime("%B %d, %Y") %></td>
            <td><%= link_to search_path + "/?utf8=✓&query=" + title.writer, data: { toggle: "tooltip" }, :title => "View books by " + title.writer do %><%= title.writer %><% end %></td>
            <td><%= link_to search_path + "/?utf8=✓&query=" + title.artist, data: { toggle: "tooltip" }, :title => "View books by " + title.artist do %><%= title.artist %><% end %></td>
            <td><%= link_to search_path + "/?utf8=✓&query=" + title.cover, data: { toggle: "tooltip" }, :title => "View books by " + title.cover do %><%= title.cover %><% end %></td>
            <td><%= title.note.first(50) %></td>
            <td><% if current_user && current_user.owns?(title) %>
                  <%= rating_for title, "book", disable_after_rate: false, cancel_hint: 'Cancel this vote!' %>
                <% end %></td>
            <td>
              <ul class="list-inline">
                <li><%= link_to title, class: "btn btn-default btn-xs", title: "View title" do %><span class="fa fa-eye"></span><% end %></li>
                <li data-book-id='<%= title.id %>_own'>
                          <%= link_to book_own_path(title), method: :delete, remote: true, class: "btn btn-default btn-danger btn-xs", title: "Remove from collection", data: {disable_with: "<span class='glyphicon glyphicon-minus'></span>"} do %><span class="fa fa-heart-o"></span><% end %></li>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="clearfix"></div>
    <% end %>
<div class="clearfix"></div>
<div class="text-center"><%= paginate @book %></div>
<div class="clearfix"></div>
</div>
<% end %>