	<% if Book.friendly.find(a.recipient_id).category == "Paperback" %>
		<div class="col-md-1 col-sm-2 col-xs-2">
			<%= image_tag Book.friendly.find(a.recipient_id).image.url(:thumb), :height => "36px", class: "img-shadow" %>
		</div>
		<div class="col-md-11 col-sm-10 col-xs-10">
			<i class="fa fa-comment"></i> <%= link_to root_url + "users/" + User.find(a.owner_id).slug + "/profile" do %><%= User.find(a.owner_id).name %><% end %> rated <%= link_to Book.friendly.find(a.recipient_id) do %><%= Book.friendly.find(a.recipient_id).title %> TPB Vol. <%= Book.friendly.find(a.recipient_id).issue %>, cover by <%= Book.friendly.find(a.recipient_id).cover %><% end %>
			<div class="stream-rating"><%= rating_for_user Book.friendly.find(a.recipient_id), User.find(a.owner_id), "book"  %></div>
			<span class="time"><%= local_time_ago(a.created_at) %></span>
		</div>
		<div class="clearfix"><br /></div>
	<% elsif Book.friendly.find(a.recipient_id).category == "Hardcover" %>
		<div class="col-md-1 col-sm-2 col-xs-2">
			<%= image_tag Book.friendly.find(a.recipient_id).image.url(:thumb), :height => "36px", class: "img-shadow" %>
		</div>
		<div class="col-md-11 col-sm-10 col-xs-10">
			<i class="fa fa-comment"></i> <%= link_to root_url + "users/" + User.find(a.owner_id).slug + "/profile" do %><%= User.find(a.owner_id).name %><% end %> rated <%= link_to Book.friendly.find(a.recipient_id) do %><%= Book.friendly.find(a.recipient_id).title %> Deluxe HC Vol. <%= Book.friendly.find(a.recipient_id).issue %>, cover by <%= Book.friendly.find(a.recipient_id).cover %><% end %>
			<div class="stream-rating"><%= rating_for_user Book.friendly.find(a.recipient_id), User.find(a.owner_id), "book"  %></div>
			<span class="time"><%= local_time_ago(a.created_at) %></span>
		</div>
		<div class="clearfix"><br /></div>
	<% else %>
		<div class="col-md-1 col-sm-2 col-xs-2">
			<%= image_tag Book.friendly.find(a.recipient_id).image.url(:mini), :height => "36px", class: "img-shadow" %>
		</div>
		<div class="col-md-11 col-sm-10 col-xs-10">
			<i class="fa fa-comment"></i> <%= link_to root_url + "users/" + User.find(a.owner_id).slug + "/profile" do %><%= User.find(a.owner_id).name %><% end %> rated <%= link_to Book.friendly.find(a.recipient_id) do %><%= Book.friendly.find(a.recipient_id).title %> #<%= Book.friendly.find(a.recipient_id).issue %>, cover by <%= Book.friendly.find(a.recipient_id).cover %><% end %>
			<div class="stream-rating"><%= rating_for_user Book.friendly.find(a.recipient_id), User.find(a.owner_id), "book"  %></div>
			<span class="time"><%= local_time_ago(a.created_at) %></span>
		</div>
		<div class="clearfix"><br /></div>
	<% end %>