    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <ul class="list-inline">
                        <li>
                            <%= link_to "http://www.facebook.com/comicarksite", class: "btn btn-primary btn-circle", :title => "Comicark on Facebook" do %><i class="fa fa-facebook"></i><% end %>
                        </li>
                        <li>
                            <%= link_to "http://www.twitter.com/comicark", class: "btn btn-info btn-circle", :title => "Comicark on Twitter" do %><i class="fa fa-twitter"></i><% end %>
                        </li>
                        <li>
                            <%= link_to new_contact_path, class: "btn btn-default btn-circle", :title => "Contact Us" do %><i class="fa fa-envelope"></i><% end %>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Valiant Database 2014-<%= Date.today.strftime("%Y") %>. All Rights Reserved. Images and titles are trademark and copyright of their respective owners. <%= link_to privacy_path :title => "Privacy Policy" do %>Privacy Policy<% end %> <%= link_to terms_path :title => "Terms of Use" do %>Terms of Use<% end %></p>
                </div>
            </div>
        </div>
    </footer>
