<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
  <meta name="google-site-verification" content="Q_QVsLuniRn3cINjLMEOB0tIgrD9mgFB6K3SPMYIkMs" />
  <% if controller_name == 'books' && action_name == 'show' %>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@comicark">
    <% if @book.category == "Paperback" %>
      <meta name="twitter:title" content="<%= @book.title + " TPB Vol. " + @book.issue.to_s %>">
    <% elsif @book.category == "Hardcover" %>
      <meta name="twitter:title" content="<%= @book.title + " Deluxe HC Vol. " + @book.issue.to_s %>">
    <% else %>
      <meta name="twitter:title" content="<%= @book.title + " #" + @book.issue.to_s %>">
    <% end %>
    <meta name="twitter:description" content="<%= h raw strip_tags(@book.summary) %>">
    <meta property="og:description" content="<%= h raw strip_tags(@book.summary) %>">
    <meta name="twitter:creator" content="@comicark">
    <meta name="twitter:image:src" content="<%= @book.image.url %>">
    <meta property="og:image" content="<%= @book.image.url %>">
    <meta name="twitter:domain" content="ComicArk.com">
    <meta property="og:url" content="<%= "www.comicark.com/books/" + @book.id.to_s %>">
  <% end %>
  <% if controller_name == 'books' && action_name == 'show' %>
    <meta name="description" content="<%= h raw strip_tags(@book.summary) %>">
  <% else %>
    <meta name="description" content="ComicArk, the ultimate comic book database for all comics. We have EVERY title ever published, soliciations, sales and pricing data, and more!">
  <% end %>
  <% if @pgtitle.blank? %>
  <title>ComicArk</title>
  <% else %>
  <title><%= @pgtitle %> | ComicArk</title>
  <% end %>
  <link rel="icon" href="https://s3.amazonaws.com/valiantdb/images/favicon2.ico" type="image/x-icon" />
  <link rel="sitemap" type="application/xml" title="Sitemap" href="http://www.comicark.com/sitemap.xml" />
  <%= stylesheet_link_tag 'application', media: 'all', :defer => "defer" %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '//media.twiliocdn.com/sdk/rtc/js/ip-messaging/v0.9/twilio-ip-messaging.min.js' %>
  <%= csrf_meta_tags %>

</head>


<% if controller_name == 'books' && action_name == 'thisweek' %>
  <body id="padneg">
<% elsif controller_name == 'feeds' && action_name == 'news' %>
  <body id="pad" data-no-turbolinks="true">
<% else %>
  <body id="pad">
<% end %>
  <div id="main">
    <%= render "layouts/header" unless @skip_footer %>

    <%= render "books/banner" %>

    <% if controller_name == 'books' && action_name.include?("tbl") %>
      <div class="container-fluid">
    <% else %>
      <div class="container">
    <% end %>

    	<% flash.each do |name, msg| %>
        <% if name == "alert" %>
    		  <div class="alert alert-danger alert-dismissible alert-message" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <%= msg %>
          </div>
        <% else %>
          <div class="alert alert-success alert-dismissible alert-message" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <%= msg %>
          </div>
        <% end %>
    	<% end %>

       <div id="content">
    	  <%= yield %>
        <% if controller_name == 'pages' && action_name == "home" %>
          <%= render "layouts/footer" unless @skip_footer %>
        <% end %>
       </div>

  </div>
  <% unless controller_name == 'pages' && action_name == "home" %>
        <%= render "layouts/footer2" unless @skip_footer %>
  <% end %>
</div>

<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52140019-2', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
